<!DOCTYPE html>
<html lang="zh-tw">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" type="text/css" href="/system/styles/bootstrap.min.css"/>
    <script type="text/javascript" src="/system/scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/system/scripts/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="/package/font-awesome/css/all.min.css"></link>
</head>
<body>
    <form action="/getdb" method="post">
        哈囉！你好
        <button type="submit">連線資料庫</button>
    </form>
</body>
</html>